header {
  text-align: center;
  border: 2px solid green;
}

body {
  background-color: gray;
  
}

.titulosDos{
  background-color: green;
  width: 170px;
  text-decoration: underline black;
  
}

h2 {
  background-color;
}
