*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


header {
  text-align: center;
  border: 2px solid green;
}

body {
  background-color: gray;
  
}

.titulosDos{
  background-color: green;
  width: 196px;
  text-decoration: underline black;
  margin: 15px;

  
}

h2 {
  background-color;
}

.cuerpo{
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
  
}


/*
//Reglas que se aplicaran cuando el dispositivo sea más chico (maximo 600px)
*/
@media all and (max-width: 600px) {
  .container {
    background-color: black;
    color: white;
  
  }
  .titulosDos {
    text-decoration: underline white;
  }
  .cuerpo{
    flex-direction: column;
  justify-content: space-evenly;

  }
  

}